.container__spinner {
  position: fixed;
  animation: anim-circle $animDure * 6.5 cubic-bezier(0.79, 0.01, 1, 1);
  z-index: -1000;
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}
.spinner {
  width: 9.375em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  @for $i from 1 through 3 {
    & > &__circle:nth-child(#{$i}) {
      animation-delay: calc($animDure / 5) * $i;
    }
  }
  &__circle {
    border: 10px $color-primary double;
    border-bottom-color: $color-secondary;
    border-top-color: $color-secondary;
    animation: spinner-back $animDure linear 6 alternate both;
  }
  &__circle:nth-child(1) {
    @include circle($absolute, 3.125em, 3.125em, 3.125em, 3.125em, 3.125em);
  }
  &__circle:nth-child(2) {
    @include circle($absolute, 1.5625em, 1.5625em, 6.25em, 6.25em, 6.25em);
  }
  &__circle:nth-child(3) {
    @include circle($absolute, 0, 0, 9.375em, 9.375em, 9.375em);
  }
}
