.footer {
  background-color: #353535;
  color: white;
  padding: 6% 5%;
  &__logo {
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 6%;
  }
  &__list {
    &--link {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }
}

li {
  margin-bottom: 2.4%;
}

.fa-utensils {
  margin-right: 0.8em;
}

.fa-handshake-angle {
  margin-right: 0.5em;
}
