.footer {
  background-color: #353535;
  color: white;
  padding: 6% 5%;
  &__logo {
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 6%;
    font-family: $shrikhand;
  }
  &__list {
    &--link {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    // @media all and (min-width: 768px) {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  @media all and (min-width: 768px) {
    padding: 3% 5%;
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}

li {
  margin-bottom: 2.4%;
}

.fa-utensils {
  margin-right: 0.8em;
}

.fa-handshake-angle {
  margin-right: 0.5em;
}
