.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  &__link {
    flex: 1;
    margin-left: 2em;
    text-decoration: none;
    color: black;
  }
  &__logo {
    width: 50%;
    flex: 2;
    margin-right: 6em;
  }
  &__localisation {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.1em;
    padding: 3%;
    box-shadow: inset 0px 5px 9px -5px rgba(0, 0, 0, 0.28);
    &--ville {
      margin-left: 1em;
    }
  }
  @media all and (min-width: 1301px) {
    height: 14vh;
    &__logo {
      height: 4em;
      margin-right: 18em;
    }
  }
  @media all and (min-width: 900px) and (max-width: 1300px) {
    height: 12vh;
    &__logo {
      height: 4em;
      // padding-left: 1em;
      margin-right: 18em;
    }
  }
  @media all and (min-width: 768px) and (max-width: 900px) {
    height: 10vh;
    &__logo {
      height: 4em;
      // padding-left: 1em;
      margin-right: 14em;
    }
  }
  @media all and (min-width: 600px) and (max-width: 768px) {
    height: 8vh;
    &__logo {
      height: 3em;
      margin-right: 10em;
    }
  }
  @include mobile-s {
    height: 4vh;
    &__logo {
      height: 2em;
      margin-right: 4.5em;
    }
  }
}

.headerBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  &__logo {
    height: 2em;
    width: 50%;
  }
  @media all and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    &__logo {
      height: 3em;
    }
  }
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    &__logo {
      height: 5em;
    }
  }
}
