.accueil {
  &__reservation {
    padding: 10%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      text-align: center;
      font-weight: bold;
      font-size: 1.8em;
      margin-bottom: 0.5em;
    }
    &--subtitle {
      text-align: center;
      font-size: 1.2em;
    }
    &--button {
      background-color: darkorchid;
      color: white;
      margin-top: 2em;
      padding: 1em;
      border: none;
      border-radius: 1.5em 1.5em 1.5em 1.5em;
    }
    @media all and (min-width: 768px) {
      padding: 5%;
    }
  }

  &__fonctionnement {
    padding: 10% 6%;
    &--title {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    &--menu {
      width: 85%;
      border: 0.1em none #d4d1d1;
      border-radius: 1.5em 1.5em 1.5em 1.5em;
      padding: 8%;
      color: "#f7f7f7";
      background-color: #f6f6f6;
      position: relative;
      box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
      &-number {
        border: 0.1em solid none;
        border-radius: 50%;
        padding: 2%;
        color: white;
        background-color: blueviolet;
        position: absolute;
        left: -0.5em;
        top: 1.3em;
        @media all and (min-width: 490px) and (max-width: 700px) {
          top: 1.8em;
        }
        @media all and (min-width: 701px) and (max-width: 767px) {
          top: 2em;
        }
        @media all and (min-width: 768px) and (max-width: 900px) {
          top: 0.8em;
        }
      }
    }
    &--menu:hover {
      background-color: #f5edfe;
      i {
        color: $color-primary;
      }
    }
    &--menu:nth-child(3) {
      margin: 2em 0 2em 0;
    }

    @media all and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5% 6%;
      &--menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        padding: 3%;
      }
    }
  }

  .fa-mobile,
  .fa-list,
  .fa-store {
    margin-right: 0.9em;
    color: #7d7d7d;
  }

  &__restaurant {
    background-color: #f7f7f7;
    padding: 10% 4%;
    font-family: $roboto;
    &--title {
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    &--section {
      &-card {
        border: 0.1em solid none;
        border-radius: 1em 1em;
        width: 100%;
        height: 260px;
        box-sizing: border-box;
        margin-bottom: 1.5em;
        box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
        position: relative;
        &-img {
          width: 100%;
          height: 70%;
          border-radius: 1em 1em 0 0;
          object-fit: cover;
        }
        &-description {
          padding: 2% 3%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          &-titre {
            font-weight: bold;
            margin-bottom: 0.4em;
            color: black;
          }
          &-text {
            color: black;
            font-style: normal;
          }
          &-icone {
            position: absolute;
            right: 0;
            bottom: 4.5em;
          }
        }
        &-nouveau {
          border: 0.1em solid none;
          background-color: $color-tertiary;
          color: green;
          padding: 10px;
          position: absolute;
          bottom: 13em;
          // left: 16.5em;
          right: 10px;
        }
      }
    }
    @media all and (min-width: 768px) {
      padding: 2% 4%;
      &--section {
        display: flex;
        justify-content: space-between;
        &-card {
          margin-right: 1em;
          &-nouveau {
            // left: 14em;
            right: 5px;
          }
        }
      }
    }
  }
  @media all and (min-width: 768px) and (max-width: 1000px) {
    &__restaurant {
      // background-color: blue;
      &--section {
        display: flex;
        flex-direction: column;
      }
    }
    // &--section {
    //   background-color: chartreuse;
    //   display: flex;
    //   &-card {
    //     background-color: chartreuse;
    //   }
    // }
  }
}

.fa-heart {
  color: black;
}

.fa-heart:hover {
  color: purple;
}

a {
  text-decoration: none;
}
