.menu {
  // position: relative;
  // width: 100%;
  // height: 43vh;
  // margin-bottom: 73em;
  @include menu($relative, 100%, 43vh, 73em);
  &__figure {
    &--img {
      // width: 100%;
      // object-fit: cover;
      @include img(100%, cover);
    }
  }
  &__main {
    // background-color: #f6f6f6;
    // border: 0.1em solid none;
    // border-radius: 2em 2em 0 0;
    // padding: 7% 3% 0 3%;
    // top: 13em;
    // z-index: 1;
    // width: 94%;
    // position: absolute;
    @include main($color-background, $absolute);
    &--title {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // margin-bottom: 8%;
      // width: 95%;
      @include title(flex, center, space-between, 8%, 95%);
      &-titre {
        font-weight: bold;
        font-size: 2em;
      }
      &-heart {
        @include heartAnim;
      }
    }
    &--card {
      margin-top: 10%;
      @include divAnimation;
      // @for $i from 1 through 4 {
      //   & .menu__main--card-menu:nth-child(#{$i}) {
      //     animation-delay: calc($animDure / 4) * $i;
      //   }
      // }
      &-title {
        font-size: larger;
        margin-bottom: 2%;
      }
      &-div {
        // border-width: 0.1em;
        // border-color: aqua;
        // border-style: solid;
        // margin-top: 2%;
        // width: 12%;
        @include div(0.1em, $color-tertiary, solid, 2%, 12%);
      }
      &-menu {
        // padding: 4%;
        // border: 0.1em solid none;
        // border-radius: 0.9em 0.9em 0.9em 0.9em;
        // background-color: white;
        // margin-bottom: 2em;
        // box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
        @include cardmenu(
          4%,
          $borderRadiusMenu,
          $color-background,
          2em,
          $animDure
        );
        &-title {
          font-weight: bold;
          margin-bottom: 2%;
        }
        &-subtitle {
          display: flex;
          overflow: hidden;
          justify-content: space-between;
          // &-text {
          //   @include text(1, 70%, auto, hidden);
          // }
          &-prix {
            // font-weight: bolder;
            @include price(bolder, $color-background, 1000ms);
          }
        }
        &-animation {
          @include animation(
            $color-background,
            $color-tertiary,
            $absolute,
            $animDure
          );
        }
      }
      &-menu:nth-child(3) {
        margin: 2em 0 2em 0;
      }
    }
    &--button {
      display: flex;
      justify-content: center;
      padding: 1em 2em 4em 2em;
      &-click {
        border: none;
        padding: 3% 9%;
        border-radius: 2em 2em 2em 2em;
      }
    }
  }
}

//ANIMATION HEART
.like {
  height: 12px;
  width: 12px;
  position: absolute;
  transform: rotate(45deg);
  opacity: 1;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  top: 38px;
  right: 25px;
  z-index: 3;
  transition: opacity $animDure;
  cursor: pointer;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom: none;
    top: -9px;
    left: 0px;
    z-index: 3;
  }
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid black;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 30%;
    border-right: none;
    right: 9px;
    top: 0px;
    z-index: 3;
  }
  &:hover,
  &:active {
    opacity: 0;
    + .like__bg {
      animation: heart-fill 1500ms forwards ease-in;
    }
  }
  &__bg {
    height: 12px;
    width: 12px;
    position: absolute;
    transform: rotate(45deg);
    opacity: 0;
    z-index: 1;
    top: 38px;
    right: 25px;
    background: radial-gradient($color-primary, $color-secondary);
    &::before {
      background: linear-gradient($color-primary, 80%, $color-secondary);
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: -8px;
    }
    &::after {
      background: linear-gradient(80deg, $color-primary, 80%, $color-secondary);
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: -8px;
    }
  }
}
