@mixin menu($position, $width, $height, $margin-bottom) {
  position: $position;
  width: $width;
  height: $height;
  margin-bottom: $margin-bottom;
}

@mixin img($width, $img) {
  width: $width;
  object-fit: $img;
}

@mixin main($color, $position) {
  background-color: $color;
  border: 0.1em solid none;
  border-radius: 2em 2em 0 0;
  padding: 7% 3% 0 3%;
  top: 13em;
  z-index: 1;
  width: 94%;
  position: $position;
}

@mixin title($display, $align, $justify, $margin, $width) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  margin-bottom: $margin;
  width: $width;
  font-family: $shrikhand;
}

@mixin div($width, $color, $style, $top, $value) {
  border-width: $width;
  border-color: $color;
  border-style: $style;
  margin-top: $top;
  width: $value;
}

@mixin cardmenu($padding, $radius, $color, $margin: 2em, $dure, $name) {
  padding: $padding;
  border: 0.1em solid none;
  border-radius: $radius;
  background-color: $color;
  margin-bottom: $margin;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  opacity: 0;
  animation: card-display $dure forwards ease-in-out;
  transform-origin: bottom;
  position: relative;
  cursor: pointer;
  &:hover,
  &:active {
    .menu#{$name}__main--card-menu-subtitle {
      white-space: nowrap;
      overflow: hidden;
    }
    .menu#{$name}__main--card-menu-subtitle-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .menu#{$name}__main--card-menu-subtitle-prix {
      margin-right: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .menu#{$name}__main--card-menu-animation {
      transform: translateX(-100%);
    }
    .fa-check-circle {
      animation: check-round 600ms 400ms;
      // position: absolute;
      // top: 40px;
      // right: 20px;
    }
  }
}

@mixin animation($color, $background, $top, $position, $dure) {
  color: $color;
  background-color: $background;
  width: 60px;
  text-align: center;
  // padding-top: 24px;
  padding-top: $top;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  position: $position;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  margin-right: -60px;
  transition: transform $dure ease-in-out;
}

@mixin text($flex, $width, $height, $overflow) {
  flex: $flex;
  width: $width;
  height: $height;
  overflow: $overflow;
}

@mixin price($weight, $color, $dure) {
  font-weight: $weight;
  width: 50px;
  height: auto;
  background-color: $color;
  align-self: flex-end;
  transition: margin-right $dure ease-in-out;
}

//ANIMATION SPINNER

@mixin circle($position, $top, $left, $width, $height, $borderRadius) {
  position: $position;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  border-radius: $borderRadius;
}

//ANIMATION Apparition
@mixin divAnimation($name) {
  @for $i from 1 through 5 {
    & .menu#{$name}__main--card-menu:nth-child(#{$i}) {
      animation-delay: calc($animDure / 4) * $i;
    }
  }
}

//MEDIA-QUERY
@mixin mobile-s {
  @media screen and (max-width: map-get($breakpoints, mobile-s)) {
    @content;
  }
}

@mixin mobile-m {
  @media screen and (max-width: map-get($breakpoints, mobile-s)) {
    @content;
  }
}

@mixin mobile-l {
  @media screen and (max-width: map-get($breakpoints, mobile-s)) {
    @content;
  }
}

@mixin tablette {
  @media screen and (max-width: map-get($breakpoints, mobile-s)) {
    @content;
  }
}
