@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@keyframes card-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes check-round {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animation {
  0% {
    transform: translateY(10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim-circle {
  0% {
    z-index: 1000;
    opacity: 1;
  }
  100% {
    z-index: 1000;
    opacity: 0.8;
  }
}
@keyframes spinner-back {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg) scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}
@keyframes heart-fill {
  0% {
    transform: scale(0.5) rotate(45deg);
    transform-origin: 45% bottom;
    opacity: 0.1;
  }
  100% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
}
.like {
  height: 12px;
  width: 12px;
  position: absolute;
  transform: rotate(45deg);
  opacity: 1;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  top: 38px;
  right: 25px;
  z-index: 3;
  transition: opacity 1000ms;
  cursor: pointer;
}
.like::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  border-bottom: none;
  top: -9px;
  left: 0px;
  z-index: 3;
}
.like::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 2px solid black;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 30%;
  border-right: none;
  right: 9px;
  top: 0px;
  z-index: 3;
}
.like:hover, .like:active {
  opacity: 0;
}
.like:hover + .like__bg, .like:active + .like__bg {
  animation: heart-fill 1500ms forwards ease-in;
}
.like__bg {
  height: 12px;
  width: 12px;
  position: absolute;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 1;
  top: 38px;
  right: 27px;
  background: radial-gradient(#9356dc, #ff79da);
}
.like__bg::before {
  background: linear-gradient(#9356dc, 80%, #ff79da);
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
}
.like__bg::after {
  background: linear-gradient(80deg, #9356dc, 80%, #ff79da);
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
}

.btn-grad {
  background-image: linear-gradient(to right, #ff79da 0%, #9356dc 51%, #ff79da 100%);
}

.btn-grad {
  margin: 10px;
  padding: 7% 10%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.container__spinner {
  position: fixed;
  animation: anim-circle 6500ms cubic-bezier(0.79, 0.01, 1, 1);
  z-index: -1000;
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.spinner {
  width: 9.375em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.spinner > .spinner__circle:nth-child(1) {
  animation-delay: 200ms;
}
.spinner > .spinner__circle:nth-child(2) {
  animation-delay: 400ms;
}
.spinner > .spinner__circle:nth-child(3) {
  animation-delay: 600ms;
}
.spinner__circle {
  border: 10px #9356dc double;
  border-bottom-color: #ff79da;
  border-top-color: #ff79da;
  animation: spinner-back 1000ms linear 6 alternate both;
}
.spinner__circle:nth-child(1) {
  position: absolute;
  top: 3.125em;
  left: 3.125em;
  width: 3.125em;
  height: 3.125em;
  border-radius: 3.125em;
}
.spinner__circle:nth-child(2) {
  position: absolute;
  top: 1.5625em;
  left: 1.5625em;
  width: 6.25em;
  height: 6.25em;
  border-radius: 6.25em;
}
.spinner__circle:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.375em;
  height: 9.375em;
  border-radius: 9.375em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  height: 5vh;
}
.header__link {
  flex: 1;
  text-decoration: none;
  color: black;
}
.header__logo {
  width: 50%;
  flex: 1;
  margin-right: 6em;
}
.header__localisation {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.1em;
  padding: 3%;
  box-shadow: inset 0px 5px 9px -5px rgba(0, 0, 0, 0.28);
}
.header__localisation--ville {
  margin-left: 1em;
}
@media all and (min-width: 768px) {
  .header {
    height: 4vh;
  }
  .header__logo {
    height: 4em;
    margin-right: 30em;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .header__logo {
    height: 4em;
    margin-right: 18em;
  }
}

.headerBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  width: 70%;
  height: 5vh;
}
.headerBanner__logo {
  height: 2em;
  padding-left: 6em;
  flex: 1;
}
@media all and (min-width: 768px) {
  .headerBanner__logo {
    height: 5em;
    padding-left: 20em;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 6% 5%;
}
.footer__logo {
  font-size: larger;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 6%;
  font-family: "Shrikhand", cursive;
}
.footer__list--link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media all and (min-width: 768px) {
  .footer {
    width: 90%;
    padding: 3% 5%;
  }
  .footer__list {
    display: flex;
    justify-content: space-between;
  }
}

li {
  margin-bottom: 2.4%;
}

.fa-utensils {
  margin-right: 0.8em;
}

.fa-handshake-angle {
  margin-right: 0.5em;
}

.accueil__reservation {
  padding: 10%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accueil__reservation--title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
.accueil__reservation--subtitle {
  text-align: center;
  font-size: 1.2em;
}
.accueil__reservation--button {
  background-color: darkorchid;
  color: white;
  margin-top: 2em;
  padding: 1em;
  border: none;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
}
@media all and (min-width: 768px) {
  .accueil__reservation {
    padding: 5%;
  }
}
.accueil__fonctionnement {
  padding: 10% 6%;
}
.accueil__fonctionnement--title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.accueil__fonctionnement--menu {
  width: 85%;
  border: 0.1em none #d4d1d1;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  padding: 8%;
  color: "#f7f7f7";
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
}
.accueil__fonctionnement--menu-number {
  border: 0.1em solid none;
  border-radius: 50%;
  padding: 2%;
  color: white;
  background-color: blueviolet;
  position: absolute;
  left: -0.5em;
  top: 1.3em;
}
.accueil__fonctionnement--menu:hover {
  background-color: #f5edfe;
}
.accueil__fonctionnement--menu:hover i {
  color: #9356dc;
}
.accueil__fonctionnement--menu:nth-child(3) {
  margin: 2em 0 2em 0;
}
@media all and (min-width: 768px) {
  .accueil__fonctionnement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 6%;
  }
  .accueil__fonctionnement--menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 3%;
  }
}
.accueil .fa-mobile,
.accueil .fa-list,
.accueil .fa-store {
  margin-right: 0.9em;
  color: #7d7d7d;
}
.accueil__restaurant {
  background-color: #f7f7f7;
  padding: 10% 4%;
  font-family: "Roboto", sans-serif;
}
.accueil__restaurant--title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.accueil__restaurant--section-card {
  border: 0.1em solid none;
  border-radius: 1em 1em;
  width: 100%;
  height: 260px;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  position: relative;
}
.accueil__restaurant--section-card-img {
  width: 100%;
  height: 70%;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}
.accueil__restaurant--section-card-description {
  padding: 2% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.accueil__restaurant--section-card-description-titre {
  font-weight: bold;
  margin-bottom: 0.4em;
  color: black;
}
.accueil__restaurant--section-card-description-text {
  color: black;
  font-style: normal;
}
.accueil__restaurant--section-card-description-icone {
  position: absolute;
  right: 0;
  bottom: 4.5em;
}
.accueil__restaurant--section-card-nouveau {
  border: 0.1em solid none;
  background-color: #99e2d0;
  color: green;
  padding: 10px;
  position: absolute;
  bottom: 13em;
  right: 10px;
}
@media all and (min-width: 768px) {
  .accueil__restaurant {
    padding: 2% 4%;
  }
  .accueil__restaurant--section {
    display: flex;
    justify-content: space-between;
  }
  .accueil__restaurant--section-card {
    margin-right: 1em;
  }
  .accueil__restaurant--section-card-nouveau {
    right: 5px;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .accueil__restaurant {
    background-color: blue;
  }
  .accueil__restaurant--section {
    display: flex;
    flex-direction: column;
  }
}

.fa-heart {
  color: black;
}

.fa-heart:hover {
  color: purple;
}

a {
  text-decoration: none;
}

.menu1 {
  position: relative;
  width: 100%;
  height: 43vh;
  margin-bottom: 73em;
}
.menu1__figure--img {
  width: 100%;
  object-fit: cover;
}
.menu1__main {
  background-color: #f6f6f6;
  border: 0.1em solid none;
  border-radius: 2em 2em 0 0;
  padding: 7% 3% 0 3%;
  top: 13em;
  z-index: 1;
  width: 94%;
  position: absolute;
}
.menu1__main--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8%;
  width: 95%;
  font-family: "Shrikhand", cursive;
}
.menu1__main--title-titre {
  font-weight: bold;
  font-size: 2em;
}
.menu1__main--card {
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
.menu1__main--card .menu1__main--card-menu:nth-child(1) {
  animation-delay: 250ms;
}
.menu1__main--card .menu1__main--card-menu:nth-child(2) {
  animation-delay: 500ms;
}
.menu1__main--card .menu1__main--card-menu:nth-child(3) {
  animation-delay: 750ms;
}
.menu1__main--card .menu1__main--card-menu:nth-child(4) {
  animation-delay: 1000ms;
}
.menu1__main--card .menu1__main--card-menu:nth-child(5) {
  animation-delay: 1250ms;
}
.menu1__main--card-title {
  font-size: larger;
  margin-bottom: 2%;
}
.menu1__main--card-div {
  border-width: 0.1em;
  border-color: #99e2d0;
  border-style: solid;
  margin-top: 2%;
  width: 12%;
}
.menu1__main--card-menu {
  padding: 4%;
  border: 0.1em solid none;
  border-radius: 0.9em 0.9em 0.9em 0.9em;
  background-color: #f6f6f6;
  margin-bottom: 2em;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  opacity: 0;
  animation: card-display 1000ms forwards ease-in-out;
  transform-origin: bottom;
  position: relative;
  cursor: pointer;
}
.menu1__main--card-menu:hover .menu1__main--card-menu-subtitle, .menu1__main--card-menu:active .menu1__main--card-menu-subtitle {
  white-space: nowrap;
  overflow: hidden;
}
.menu1__main--card-menu:hover .menu1__main--card-menu-subtitle-text, .menu1__main--card-menu:active .menu1__main--card-menu-subtitle-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu1__main--card-menu:hover .menu1__main--card-menu-subtitle-prix, .menu1__main--card-menu:active .menu1__main--card-menu-subtitle-prix {
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu1__main--card-menu:hover .menu1__main--card-menu-animation, .menu1__main--card-menu:active .menu1__main--card-menu-animation {
  transform: translateX(-100%);
}
.menu1__main--card-menu:hover .fa-check-circle, .menu1__main--card-menu:active .fa-check-circle {
  animation: check-round 600ms 400ms;
}
.menu1__main--card-menu-title {
  font-weight: bold;
  margin-bottom: 2%;
}
.menu1__main--card-menu-subtitle {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.menu1__main--card-menu-subtitle-prix {
  font-weight: bolder;
  width: 50px;
  height: auto;
  background-color: #f6f6f6;
  align-self: flex-end;
  transition: margin-right 1000ms ease-in-out;
}
.menu1__main--card-menu-animation {
  color: #f6f6f6;
  background-color: #99e2d0;
  width: 60px;
  text-align: center;
  padding-top: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  margin-right: -60px;
  transition: transform 1000ms ease-in-out;
}
.menu1__main--card-menu:nth-child(3) {
  margin: 2em 0 2em 0;
}
.menu1__main--button {
  display: flex;
  justify-content: center;
  padding: 1em 2em 4em 2em;
}
.menu1__main--button-click {
  border: none;
  padding: 3% 9%;
  border-radius: 2em 2em 2em 2em;
}
@media all and (min-width: 768px) {
  .menu1 {
    height: 6vh;
    width: 100%;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 123.5em;
  }
  .menu1__figure {
    height: 20vh;
    width: 100%;
  }
  .menu1__figure--img {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu1__main {
    width: 60%;
  }
  .menu1__main--title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu1__main--title-icones {
    position: relative;
    left: 29em;
    bottom: 3.7em;
  }
  .menu1__main--card .menu1__main--card-menu:nth-child(1) {
    animation-delay: 250ms;
  }
  .menu1__main--card .menu1__main--card-menu:nth-child(2) {
    animation-delay: 500ms;
  }
  .menu1__main--card .menu1__main--card-menu:nth-child(3) {
    animation-delay: 750ms;
  }
  .menu1__main--card .menu1__main--card-menu:nth-child(4) {
    animation-delay: 1000ms;
  }
  .menu1__main--card .menu1__main--card-menu:nth-child(5) {
    animation-delay: 1250ms;
  }
  .menu1__main--card-menu {
    padding: 2%;
  }
  .menu1__main--card-animation {
    color: #f6f6f6;
    background-color: #99e2d0;
    width: 60px;
    text-align: center;
    padding-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin-right: -60px;
    transition: transform 1000ms ease-in-out;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .menu1 {
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: 105.9em;
  }
}

.menu3 {
  position: relative;
  width: 100%;
  height: 43vh;
  margin-bottom: 73em;
}
.menu3__figure--img {
  width: 100%;
  object-fit: cover;
}
.menu3__main {
  background-color: #f6f6f6;
  border: 0.1em solid none;
  border-radius: 2em 2em 0 0;
  padding: 7% 3% 0 3%;
  top: 13em;
  z-index: 1;
  width: 94%;
  position: absolute;
}
.menu3__main--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8%;
  width: 95%;
  font-family: "Shrikhand", cursive;
}
.menu3__main--title-titre {
  font-weight: bold;
  font-size: 2em;
}
.menu3__main--card {
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
.menu3__main--card .menu3__main--card-menu:nth-child(1) {
  animation-delay: 250ms;
}
.menu3__main--card .menu3__main--card-menu:nth-child(2) {
  animation-delay: 500ms;
}
.menu3__main--card .menu3__main--card-menu:nth-child(3) {
  animation-delay: 750ms;
}
.menu3__main--card .menu3__main--card-menu:nth-child(4) {
  animation-delay: 1000ms;
}
.menu3__main--card .menu3__main--card-menu:nth-child(5) {
  animation-delay: 1250ms;
}
.menu3__main--card-title {
  font-size: larger;
  margin-bottom: 2%;
}
.menu3__main--card-div {
  border-width: 0.1em;
  border-color: #99e2d0;
  border-style: solid;
  margin-top: 2%;
  width: 12%;
}
.menu3__main--card-menu {
  padding: 4%;
  border: 0.1em solid none;
  border-radius: 0.9em 0.9em 0.9em 0.9em;
  background-color: #f6f6f6;
  margin-bottom: 2em;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  opacity: 0;
  animation: card-display 1000ms forwards ease-in-out;
  transform-origin: bottom;
  position: relative;
  cursor: pointer;
}
.menu3__main--card-menu:hover .menu3__main--card-menu-subtitle, .menu3__main--card-menu:active .menu3__main--card-menu-subtitle {
  white-space: nowrap;
  overflow: hidden;
}
.menu3__main--card-menu:hover .menu3__main--card-menu-subtitle-text, .menu3__main--card-menu:active .menu3__main--card-menu-subtitle-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu3__main--card-menu:hover .menu3__main--card-menu-subtitle-prix, .menu3__main--card-menu:active .menu3__main--card-menu-subtitle-prix {
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu3__main--card-menu:hover .menu3__main--card-menu-animation, .menu3__main--card-menu:active .menu3__main--card-menu-animation {
  transform: translateX(-100%);
}
.menu3__main--card-menu:hover .fa-check-circle, .menu3__main--card-menu:active .fa-check-circle {
  animation: check-round 600ms 400ms;
}
.menu3__main--card-menu-title {
  font-weight: bold;
  margin-bottom: 2%;
}
.menu3__main--card-menu-subtitle {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menu3__main--card-menu-subtitle-prix {
  font-weight: bolder;
  width: 50px;
  height: auto;
  background-color: #f6f6f6;
  align-self: flex-end;
  transition: margin-right 1000ms ease-in-out;
}
.menu3__main--card-menu-animation {
  color: #f6f6f6;
  background-color: #99e2d0;
  width: 60px;
  text-align: center;
  padding-top: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  margin-right: -60px;
  transition: transform 1000ms ease-in-out;
}
.menu3__main--card-menu:nth-child(3) {
  margin: 2em 0 2em 0;
}
.menu3__main--button {
  display: flex;
  justify-content: center;
  padding: 1em 2em 4em 2em;
}
.menu3__main--button-click {
  padding: 3% 9%;
  border-radius: 2em 2em 2em 2em;
}
@media all and (min-width: 768px) {
  .menu3 {
    height: 6vh;
    width: 100%;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 123.5em;
  }
  .menu3__figure {
    height: 20vh;
    width: 100%;
  }
  .menu3__figure--img {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu3__main {
    width: 60%;
  }
  .menu3__main--title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu3__main--title-icones {
    position: relative;
    left: 29em;
    bottom: 3.7em;
  }
  .menu3__main--card .menu3__main--card-menu:nth-child(1) {
    animation-delay: 250ms;
  }
  .menu3__main--card .menu3__main--card-menu:nth-child(2) {
    animation-delay: 500ms;
  }
  .menu3__main--card .menu3__main--card-menu:nth-child(3) {
    animation-delay: 750ms;
  }
  .menu3__main--card .menu3__main--card-menu:nth-child(4) {
    animation-delay: 1000ms;
  }
  .menu3__main--card .menu3__main--card-menu:nth-child(5) {
    animation-delay: 1250ms;
  }
  .menu3__main--card-menu {
    padding: 2%;
  }
  .menu3__main--card-animation {
    color: #f6f6f6;
    background-color: #99e2d0;
    width: 60px;
    text-align: center;
    padding-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin-right: -60px;
    transition: transform 1000ms ease-in-out;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .menu3 {
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: 105.9em;
  }
}

.menu {
  position: relative;
  width: 100%;
  height: 56vh;
  margin-bottom: 73em;
}
.menu__figure--img {
  width: 100%;
  object-fit: cover;
}
.menu__main {
  background-color: #f6f6f6;
  border: 0.1em solid none;
  border-radius: 2em 2em 0 0;
  padding: 7% 3% 0 3%;
  top: 13em;
  z-index: 1;
  width: 94%;
  position: absolute;
}
.menu__main--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8%;
  width: 95%;
  font-family: "Shrikhand", cursive;
}
.menu__main--title-titre {
  font-weight: bold;
  font-size: 2em;
}
.menu__main--card {
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
.menu__main--card .menu__main--card-menu:nth-child(1) {
  animation-delay: 250ms;
}
.menu__main--card .menu__main--card-menu:nth-child(2) {
  animation-delay: 500ms;
}
.menu__main--card .menu__main--card-menu:nth-child(3) {
  animation-delay: 750ms;
}
.menu__main--card .menu__main--card-menu:nth-child(4) {
  animation-delay: 1000ms;
}
.menu__main--card .menu__main--card-menu:nth-child(5) {
  animation-delay: 1250ms;
}
.menu__main--card-title {
  font-size: larger;
  margin-bottom: 2%;
}
.menu__main--card-div {
  border-width: 0.1em;
  border-color: #99e2d0;
  border-style: solid;
  margin-top: 2%;
  width: 12%;
}
.menu__main--card-menu {
  padding: 4%;
  border: 0.1em solid none;
  border-radius: 0.9em 0.9em 0.9em 0.9em;
  background-color: #f6f6f6;
  margin-bottom: 2em;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  opacity: 0;
  animation: card-display 1000ms forwards ease-in-out;
  transform-origin: bottom;
  position: relative;
  cursor: pointer;
}
.menu__main--card-menu:hover .menu__main--card-menu-subtitle, .menu__main--card-menu:active .menu__main--card-menu-subtitle {
  white-space: nowrap;
  overflow: hidden;
}
.menu__main--card-menu:hover .menu__main--card-menu-subtitle-text, .menu__main--card-menu:active .menu__main--card-menu-subtitle-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__main--card-menu:hover .menu__main--card-menu-subtitle-prix, .menu__main--card-menu:active .menu__main--card-menu-subtitle-prix {
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__main--card-menu:hover .menu__main--card-menu-animation, .menu__main--card-menu:active .menu__main--card-menu-animation {
  transform: translateX(-100%);
}
.menu__main--card-menu:hover .fa-check-circle, .menu__main--card-menu:active .fa-check-circle {
  animation: check-round 600ms 400ms;
}
.menu__main--card-menu-title {
  font-weight: bold;
  margin-bottom: 2%;
}
.menu__main--card-menu-subtitle {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.menu__main--card-menu-subtitle-prix {
  font-weight: bolder;
  width: 50px;
  height: auto;
  background-color: #f6f6f6;
  align-self: flex-end;
  transition: margin-right 1000ms ease-in-out;
}
.menu__main--card-menu-animation {
  color: #f6f6f6;
  background-color: #99e2d0;
  width: 60px;
  text-align: center;
  padding-top: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  margin-right: -60px;
  transition: transform 1000ms ease-in-out;
}
.menu__main--card-menu:nth-child(3) {
  margin: 2em 0 2em 0;
}
.menu__main--button {
  display: flex;
  justify-content: center;
  padding: 1em 2em 4em 2em;
}
.menu__main--button-click {
  border: none;
  padding: 3% 9%;
  border-radius: 2em 2em 2em 2em;
}
@media all and (min-width: 768px) {
  .menu {
    height: 6vh;
    width: 100%;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 130.7em;
  }
  .menu__figure {
    height: 20vh;
    width: 100%;
  }
  .menu__figure--img {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__main {
    width: 60%;
  }
  .menu__main--title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu__main--title-icones {
    position: relative;
    left: 29em;
    bottom: 3.7em;
  }
  .menu__main--card .menu__main--card-menu:nth-child(1) {
    animation-delay: 250ms;
  }
  .menu__main--card .menu__main--card-menu:nth-child(2) {
    animation-delay: 500ms;
  }
  .menu__main--card .menu__main--card-menu:nth-child(3) {
    animation-delay: 750ms;
  }
  .menu__main--card .menu__main--card-menu:nth-child(4) {
    animation-delay: 1000ms;
  }
  .menu__main--card .menu__main--card-menu:nth-child(5) {
    animation-delay: 1250ms;
  }
  .menu__main--card-menu {
    padding: 2%;
  }
  .menu__main--card-animation {
    color: #f6f6f6;
    background-color: #99e2d0;
    width: 60px;
    text-align: center;
    padding-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin-right: -60px;
    transition: transform 1000ms ease-in-out;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .menu {
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: 111.8em;
  }
}

.menu2 {
  position: relative;
  width: 100%;
  height: 44vh;
  margin-bottom: 73em;
}
.menu2__figure--img {
  width: 100%;
  object-fit: cover;
}
.menu2__main {
  background-color: #f6f6f6;
  border: 0.1em solid none;
  border-radius: 2em 2em 0 0;
  padding: 7% 3% 0 3%;
  top: 13em;
  z-index: 1;
  width: 94%;
  position: absolute;
}
.menu2__main--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8%;
  width: 95%;
  font-family: "Shrikhand", cursive;
}
.menu2__main--title-titre {
  font-weight: bold;
  font-size: 2em;
}
.menu2__main--card {
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}
.menu2__main--card .menu2__main--card-menu:nth-child(1) {
  animation-delay: 250ms;
}
.menu2__main--card .menu2__main--card-menu:nth-child(2) {
  animation-delay: 500ms;
}
.menu2__main--card .menu2__main--card-menu:nth-child(3) {
  animation-delay: 750ms;
}
.menu2__main--card .menu2__main--card-menu:nth-child(4) {
  animation-delay: 1000ms;
}
.menu2__main--card .menu2__main--card-menu:nth-child(5) {
  animation-delay: 1250ms;
}
.menu2__main--card-title {
  font-size: larger;
  margin-bottom: 2%;
}
.menu2__main--card-div {
  border-width: 0.1em;
  border-color: #99e2d0;
  border-style: solid;
  margin-top: 2%;
  width: 12%;
}
.menu2__main--card-menu {
  padding: 4%;
  border: 0.1em solid none;
  border-radius: 0.9em 0.9em 0.9em 0.9em;
  background-color: #f6f6f6;
  margin-bottom: 2em;
  box-shadow: 10px 11px 19px -7px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  opacity: 0;
  animation: card-display 1000ms forwards ease-in-out;
  transform-origin: bottom;
  position: relative;
  cursor: pointer;
}
.menu2__main--card-menu:hover .menu2__main--card-menu-subtitle, .menu2__main--card-menu:active .menu2__main--card-menu-subtitle {
  white-space: nowrap;
  overflow: hidden;
}
.menu2__main--card-menu:hover .menu2__main--card-menu-subtitle-text, .menu2__main--card-menu:active .menu2__main--card-menu-subtitle-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu2__main--card-menu:hover .menu2__main--card-menu-subtitle-prix, .menu2__main--card-menu:active .menu2__main--card-menu-subtitle-prix {
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu2__main--card-menu:hover .menu2__main--card-menu-animation, .menu2__main--card-menu:active .menu2__main--card-menu-animation {
  transform: translateX(-100%);
}
.menu2__main--card-menu:hover .fa-check-circle, .menu2__main--card-menu:active .fa-check-circle {
  animation: check-round 600ms 400ms;
}
.menu2__main--card-menu-title {
  font-weight: bold;
  margin-bottom: 2%;
}
.menu2__main--card-menu-subtitle {
  display: flex;
  justify-content: space-between;
}
.menu2__main--card-menu-subtitle-prix {
  font-weight: bolder;
  width: 50px;
  height: auto;
  background-color: #f6f6f6;
  align-self: flex-end;
  transition: margin-right 1000ms ease-in-out;
}
.menu2__main--card-menu-animation {
  color: #f6f6f6;
  background-color: #99e2d0;
  width: 60px;
  text-align: center;
  padding-top: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  margin-right: -60px;
  transition: transform 1000ms ease-in-out;
}
.menu2__main--card-menu:nth-child(3) {
  margin: 2em 0 2em 0;
}
.menu2__main--button {
  display: flex;
  justify-content: center;
  padding: 1em 2em 4em 2em;
}
.menu2__main--button-click {
  border: none;
  padding: 3% 9%;
  border-radius: 2em 2em 2em 2em;
}
@media all and (min-width: 768px) {
  .menu2 {
    height: 6vh;
    width: 100%;
    top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 123.5em;
  }
  .menu2__figure {
    height: 20vh;
    width: 100%;
  }
  .menu2__figure--img {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu2__main {
    width: 60%;
  }
  .menu2__main--title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu2__main--title-icones {
    position: relative;
    left: 29em;
    bottom: 3.7em;
  }
  .menu2__main--card .menu2__main--card-menu:nth-child(1) {
    animation-delay: 250ms;
  }
  .menu2__main--card .menu2__main--card-menu:nth-child(2) {
    animation-delay: 500ms;
  }
  .menu2__main--card .menu2__main--card-menu:nth-child(3) {
    animation-delay: 750ms;
  }
  .menu2__main--card .menu2__main--card-menu:nth-child(4) {
    animation-delay: 1000ms;
  }
  .menu2__main--card .menu2__main--card-menu:nth-child(5) {
    animation-delay: 1250ms;
  }
  .menu2__main--card-menu {
    padding: 2%;
  }
  .menu2__main--card-menu-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f6f6;
    background-color: #99e2d0;
    width: 60px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    margin-right: -60px;
    transition: transform 1000ms ease-in-out;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .menu2 {
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: 105.7em;
  }
  .menu2__main--title-icones {
    position: relative;
    left: 250px;
    bottom: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
